*{
    margin: 0;
    padding: 0 ;
}

/* .header{
    display: flex;
    background-color:#2B3034;
    height: 2cm;
    flex-direction: row;
  
  
    color: #FFFFFF;
    border: 2px #FFFFFF;
}*
.content{
    display: inline-flex;
    align-items:end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 50%;
}
.search{
    display: inline-flex;
    margin-left: auto;
    height: 30px;
    align-self: flex-end;
    padding: 0.375rem 0.75rem;
    width: 50%;
}
.text{
    margin-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.submit{
    background-color:transparent;
    border-color: #8101E9;
    padding: 0 10px;
    color: #8101E9;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    
}
.submit:hover {
    background-color: #8101E9;
    color: azure;
    transition-duration: 2000ms;
}

.title{
  
    flex-shrink: 0;
    margin: 0 30px;
}
.menu2{
    display: inline-flex;
    flex-shrink: 0;
    margin: 0 30px;
    color: rgb(200, 204, 208);
    align-content: baseline;
}
.menu1{
    color: rgb(189, 192, 195);
    
}

.menu2:hover{
    color: azure;
}
.menu1:hover{
    color: azure;
}
.weathercity{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px){
    .content{
        flex-direction: column;
    }
    .search{
        flex-direction: column;
    }
} */

.left{
    display: flex;
    /* height: 2cm; */
    min-height: 2cm;
    max-height:max-content;
    align-items: center;
    background-color: #2b3034;
}
.items{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    flex-shrink: 0;
}
.name a{
    display: inline-flex;
    color: azure;
}
.items li{
    list-style: none ;
    padding: 10px 25px;
}
.items li a{
    text-decoration: none;
    color: azure;
}





.right{
    background-color:#2b3034;
    width: 50%;
    text-align: right;
}
.search{
    padding:5px ;
    border: 2px  #8101E9;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}
@media only screen and (max-width: 900px){
    .items{
        flex-direction: column;
        align-items: right;
    }
    .left{
        flex-direction: column;
    }
    .right{
        text-align: center;
    }
    .search{
        width: 100%;
    }
} 